<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Admin</title> 
	 <link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans|Nova+Mono|Roboto+Condensed" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="static/signup.css">
     <link rel="stylesheet" type="text/css" href="static/view.css">

 </head>
<body>
<nav>
  <h1>   </h1>
  <ul>
    <li><a href="{{ url_for('main.index') }}">Home</a></li>
    <li> <a href="{{ url_for('main.about') }}" >
    About</a></li>
</ul>
</nav>
<div class="content">
		<div class="register-wrapper">
		<div class="register-block">
		<h3 class="register-title">Sign Up</h3>
        <div class="box">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
			<p></p>
			<form method="POST" action="/admin_login">
                <input type="email" name="email" placeholder="Email" autofocus="">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Login"/>
			</form>
		</div>
		</div>
</div>
	<footer>
	</footer>
</body>
</html>