<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Driver Login</title> 
	 <link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans|Nova+Mono|Roboto+Condensed" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="static/signup.css">
     <link rel="stylesheet" type="text/css" href="static/view.css">

 </head>
<body>
<nav>
  <h1>   </h1>
  <ul>
    <li><a href="{{ url_for('main.index') }}" >Home</a></li>
    <li>{% if not current_user.is_authenticated %}<a href="{{ url_for('auth.signup') }}" >
    Sign Up</a></li>{% endif %}
    <li>{% if current_user.is_authenticated %}
    <a href="{{ url_for('main.profile') }}" >
    Profile</a>{% endif %}</li>
    <li> <a href="{{ url_for('main.about') }}" >
    About</a></li>
</ul>
</nav> 
<div class="content">
		<div class="register-wrapper">
		<div class="register-block">
		<h3 class="register-title">Login</h3>
        <div class="box">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
			<p></p>
			<form method="POST" action="/driver_login">
                <input type="driver_email" name="driver_email" placeholder="Email" autofocus="">
                <input type="password" name="password" placeholder="Your Password">
                <input type="submit" value="Login"/>
			</form>
		</div>
		</div>
</div>




{#{% for rating in ratings %}
<p>Rating: {{rating.avg_rating}}</p>
{% endfor %}#}