<html>
    <head>
        <title>{{ title }} Sentiment Analysis</title>
        <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">-->
        <link rel="stylesheet" type="text/css" href="static/stars.css" > 
        <link rel="stylesheet" type="text/css" href="static/view.css" > 
    </head>
    <body>
    <nav>
  <h1>   </h1>
  <ul>
    <li><a href="{{ url_for('main.index') }}">Home</a></li>
    <li>{% if not current_user.is_authenticated %}<a href="{{ url_for('auth.login') }}">
    Login</a></li>{% endif %}
    <li>{% if current_user.is_authenticated %}
    <a href="{{ url_for('main.profile') }}">
    Profile</a>{% endif %}</li>
    <li>{% if current_user.is_authenticated %}
    <a href="{{ url_for('auth.logout') }}">
    Logout</a>{% endif %}</li>
    <li> <a href="{{ url_for('main.about') }}" >
    About</a></li>
</ul>
</nav>
    <p class="tell">Submit Your Trip Feedback</p>
    <p class="tell">Select driver ID as diplayed on your ticket to rate the driver</p>
        <form method="POST">
            <div class="cont">
                <div class="select">
                    <select name="driver_id">
                <!-- <option value="{{options[0]}}" selected>{{options[0]}}</option>-->
                        {% for option in options %}
                            <option value="{{option[0]}}" selected>{{option[0]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="stars">                
                    <input class="star star-5" id="star-5-2" type="radio" name="star" value = "5"/>
                    <label class="star star-5" for="star-5-2"></label>
                    <input class="star star-4" id="star-4-2" type="radio" name="star" value = "4"/>
                    <label class="star star-4" for="star-4-2"></label>
                    <input class="star star-3" id="star-3-2" type="radio" name="star" value = "3"/>
                    <label class="star star-3" for="star-3-2"></label>
                    <input class="star star-2" id="star-2-2" type="radio" name="star" value = "2"/>
                    <label class="star star-2" for="star-2-2"></label>
                    <input class="star star-1" id="star-1-2" type="radio" name="star" value = "1"/>
                    <label class="star star-1" for="star-1-2"></label>
                    <div class="rev-box">
                        <textarea class="review" col="30" name="review" placeholder="Give Feedback About the Driving..."></textarea>
                        <button><a href="{{ url_for('main.after_rating') }}">Submit</a></button>
                    </div>                
                </div>
            </div>
        </form>
        {#
        {% if final %}
        <div>
            <h2>The Sentiment of</h2> '{{ review }}' <h2>is {{ final }}% positive !</h2>
            {% else %}
            <p></p>
            {% endif %}
        </div>

        {% for item in values%}
             <p>ID: {{item.id}}, Comment: {{item.comment}}, Email: {{item.email}}</p>
        {% endfor %}
        #}
    </body>
</html>