<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Sign Up</title> 
	 <link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans|Nova+Mono|Roboto+Condensed" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="static/signup.css">

 </head>
 <body>
<nav>
  <h1>   </h1>
  <ul>
    <li><a href="{{ url_for('main.index') }}">Home</a></li>
    <li>{% if not current_user.is_authenticated %}<a href="{{ url_for('auth.login') }}">
    Login</a></li>{% endif %}
    <li>{% if current_user.is_authenticated %}
    <a href="{{ url_for('main.profile') }}">
    Profile</a>{% endif %}</li>
    <li> <a href="{{ url_for('main.about') }}" >
    About</a></li>
</ul>
</nav>
	<div class="content">
		<div class="register-wrapper">
		<div class="register-block">
		<h3 class="register-title">Sign Up</h3>
        <div class="box">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
                </div>
            {% endif %}
            {% endwith %}
			<p></p>
			<form method="POST" action="/signup">
                <input type="email" name="email" placeholder="Email" autofocus="">
                <input type="text" name="fname" placeholder="First Name" autofocus="">
                <input type="text" name="lname" placeholder="Last Name" autofocus="">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Sign Up"/>
			</form>
		</div>
		</div>
</div>
	<footer>
	</footer>
</body>
</html>